[Unit]
Description=Swarm join container
Author=Guillaume Morini
After=docker.service
[Service]
TimeoutStartSec=0
KillMode=none
ExecStart=/etc/swarm-join.start
ExecStop=/etc/swarm-join.stop
RemainAfterExit=yes
